<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>restkit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B2277B61E31404800E0F20F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B2277D51E31404A00E0F20F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B2277E01E31404B00E0F20F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
